<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>
<form accept-charset="UTF-8" action="/questions" class="form-horizontal" id="new_question" method="post">


<div style="margin:0;padding:0;display:inline">
<input name="utf8" type="hidden" value="&#x2713;" />
<input name="authenticity_token" type="hidden" value="qjRyTnB96JnZl8EYkHMY5xuH7bNWXl3j1J341xUCheI=" />
</div>
<div class="form-group">
    <label for="question_title" class="col-sm-2 control-label">タイトル</label>
    <div class="col-sm-7">
        <textarea id="question_title" name="question[title]" size="30" type="text" class="form-control" />
        </textarea>    
    </div>
</div>

<div class="form-group">
    <label for="question_mondai" class="col-sm-2 control-label">問題</label>
    <div class="col-sm-7">
        <textarea id="question_mondai" name="question[mondai]" rows="5" class="form-control">
        </textarea>
    </div>
</div>

<div class="form-group">
    <label for="question_answer" class="col-sm-2 control-label">解答</label>
    <div class="col-sm-7">
        <textarea id="question_answer" name="question[answer]" rows="5" class="form-control">
        </textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
    
    <label for="question_done">
        <input name="question[done]" type="hidden" value="0" />
        <input id="question_done" name="question[done]" type="checkbox" value="1" />
        回答済み
    </label>
    </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input name="commit" class="btn btn-default" type="submit" value="送信" />
    </div>
</div>
</form>
